{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width">
  <div class="shippingPolicy-inner color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
    <div
      class="commonSecHead anim visible {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">

      {%- if section.settings.heading != blank -%}
      <h2 class="text-primary {{ section.settings.heading_size }}"
        style="text-align: {{ section.settings.heading_alignment }};">
        {{ section.settings.heading }}
      </h2>

      {% endif %}
      {%- if section.settings.caption != blank -%}
      <p class="caption-with-letter-spacing" style="text-align: {{ section.settings.heading_alignment }};">
        {{ section.settings.caption | escape }}
      </p>
      {% endif %}
    </div>
    <div
      class="commonSeContent secSpace-xl section-{{ section.id }}-padding secSpace-xl  color-{{ section.settings.container_color_scheme }}"">
                        <div class=" mainAccordion accordion">

      {%- for block in section.blocks -%}
      <div
        class="accordion-item {% if section.settings.open_first_collapsible_row and forloop.first %}active{% endif %} color-{{ section.settings.container_color_scheme }} gradient"
        {{ block.shopify_attributes }}>
        <div
          class="accordion-header {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ block.settings.heading | default: block.settings.page.title | escape }}</div>
        <div class="accordion-content"
          style="{% if section.settings.open_first_collapsible_row and forloop.first %}display: block;{% endif %}">
          <div
            class="accordion-content-inner {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <p>{{ block.settings.row_content }}</p>
          </div>
        </div>
      </div>
      {%- endfor -%}

    </div>
  </div>
</div>
</div>





{% schema %}
{
  "name": "Accordion",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "caption",
      "label": "t:sections.collapsible_content.settings.caption.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.collapsible_content.settings.heading.label",
      "default": "Accordion content"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.collapsible_content.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "container_color_scheme",
      "label": "t:sections.collapsible_content.settings.container_color_scheme.label",
      "info": "t:sections.collapsible_content.settings.container_color_scheme.info",
      "default": "scheme-2"
    },
    {
      "type": "checkbox",
      "id": "open_first_collapsible_row",
      "default": false,
      "label": "Open first accordion row"
    },
   
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "Accordion Row",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Accordion row",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.label",
          "info": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.info"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.row_content.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion",
      "blocks": [
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        }
      ]
    }
  ]
}
{% endschema %}
